# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# IDE
.vscode/

# Chainlit
.chainlit/

# Data
data/
*.db
logs/

# OS files
.DS_Store
Thumbs.db


https://github.com/ramarao44/aistockagentlocal
